* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* shared css style  */

.btn {
    width: 164px;
    height: 44px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    z-index: 9;
    padding: 4px;
}

/* header css style */
header {
    max-width: 1600px;
    margin: 0px 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.logo img {
    max-width: 139px;
    height: 60px;
    cursor: pointer;
}

.nav-menu>ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-menu ul a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

/* banner area style */
#banner-area {
    background-image: url("/assets/images/banner.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
}

#banner-area::before {
    z-index: 0;
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.banner-content {
    display: flex;
    flex-direction: column;
    max-width: 770px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 162px 0;
}

.banner-content p.sub-title {
    background-color: #fff;
    color: #30B868;
    width: 229px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    border-radius: 100px;
    margin-bottom: 24px;
}

.banner-content h2 {
    color: #fff;
    z-index: 999;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}

.banner-content h2>span {
    color: #30B868;
}

.banner-content p {
    font-size: 18px;
    color: #fff;
    z-index: 9;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
}

.banner-btn {
    margin-top: 32px;
    z-index: 9;
    display: flex;
    gap: 16px;
    align-items: center;
}

.works-btn {
    width: 164px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    z-index: 9;
    background-color: transparent;
}

.vault-btn {
    width: 251px;
}

/* style note area  */
#note-area {
    width: 1600px;
    margin: 0px 120px auto;
    padding-top: 120px;
}

.note-title h2 {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
}

.note-title p {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: #30B868;
    margin-top: 16px;
}

.note-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 44px;
}

.note-card {
    width: 322px;
    height: 300px;
    box-shadow: 0 0px 0px .1;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
}

.icon-bg {
    width: 60px;
    height: 60px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(249, 85, 85, 1);
    border-radius: 50px;
    margin-bottom: 16px;
}

.note-card h3 {
    font-size: 24px;
    color: #001931;
    line-height: 29px;
}

.note-card p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
}

#brain-area {
    width: 1600px;
    margin: 0px 120px auto;
    padding: 120px 0px;
}

.brain-img {
    width: 600px;
}

.brain-img img {
    width: 100%;
}

.brain-details {
    display: flex;
    align-items: center;
    gap: 60px;
}

.brain-content h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.brain-content h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    line-height: 58px;
    margin-bottom: 16px;
}

.brain-content p {
    font-size: 16px;
    color: #627382;
    font-weight: 400;
    width: 700px;
    line-height: 20px;
    margin-bottom: 40px;
}

.brain-content ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.brain-content ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
    display: flex;
    gap: 6px;
}

.checkbox-text {
    display: flex;
    justify-content: center;
}

/* early-area styles */
#early-area {
    max-width: 1600px;
    margin: 0px 120px auto;
    padding-bottom: 120px;
}

.early-container {
    background-color: rgba(247, 246, 242, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 80px 40px 80px 40px;
}

.early-container h2 {
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
}

.early-container p {
    text-align: center;
    width: 613px;
    margin: auto;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    color: #627382;
    font-weight: 400;
}
.early-btn {
    margin-bottom: 16px;
}